body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .add-event-container {
      /* background: url('./assets/team-sitting-desk-checking-reports-talking-top-view.jpg') no-repeat center center/cover; */
      background-color: #444;
      height: 100vh;
      padding: 50px;
      color: white;
      font-family:"Raleway", sans-serif;
    }
    
    .add-event-container form {
      max-width: 500px;
      margin: 0 auto;
    }
    
    .add-event-container label {
      display: block;
      margin-bottom: 10px;
    }
    
    .add-event-container input,
    .add-event-container textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
      color: #444;
      font-size: 16px;
      font-family:"Raleway", sans-serif;
    }
    
    .add-event-container button[type="submit"] {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #f39c12;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
    }
    
    .add-event-container button[type="submit"]:hover {
      background-color: #e67e22;
    }
    
    .add-event {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  