.navbar {
    /* background-color: #f0f0f0;
    padding: 10px; */
  background-color: #f0f0f0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #666;
  }
  